/* * * * * * * * * */
/*      Admin      */
/* * * * * * * * * */
.admin-container {
    display: flex;
    background-color: #DFDFDF !important;
    height: 100vh;
}

.admin-content {
    width: auto;
    padding-left: 126px; 
    height: auto; 
    background-color: #DFDFDF !important; 
    flex: 1; 
}