/* * * * * * * * * */
/*      Buttons    */
/* * * * * * * * * */
.btn {
  padding: 5px 28px !important;
  transition: background-color 0.3s, color 0.3s;
}
.btn.btn-rectangle.muted {
  background-color: white;
  color: var(--clr-secondary) !important;
  border: solid 1px var(--clr-secondary);
  border-radius: 4px;
}
.btn.btn-rectangle.muted:hover {
  background-color: var(--clr-secondary);
  color: white !important;
  border: solid 1px var(--clr-secondary);
}
.btn.btn-rectangle.secondary {
  background-color: white;
  color: var(--clr-primary) !important;
  border: solid 1px var(--clr-primary);
  border-radius: 4px;
}

.btn.btn-rectangle.secondary:hover {
  background-color: var(--clr-primary-light);
  color: white !important;
  border: solid 1px var(--clr-primary);
}

.btn.btn-rectangle.primary {
  background-color: var(--clr-primary);
  color: white !important;
  border: solid 1px var(--clr-primary);
  border-radius: 4px;
}

.btn.btn-rectangle.primary:hover {
  background-color: var(--clr-primary-dark);
  color: white !important;
  border: solid 1px var(--clr-primary-dark);
}

/**********************************************************/

.btn.btn-rectangle.secondary.white {
  background-color: transparent;
  color: white !important;
  border: solid 1px white;
  border-radius: 8px;
}

.btn.btn-rectangle.secondary.white:hover {
  background-color: rgba(0, 0, 0, 0.1);
  color: white !important;
  border: solid 1px rgba(0, 0, 0, 0.1);
}

/**********************************************************/

.btn.btn-rounded.secondary {
  background-color: white;
  color: var(--clr-primary) !important;
  border: solid 1px var(--clr-primary);
  border-radius: 100px;
}

.btn.btn-rounded.secondary:hover {
  background-color: var(--clr-primary);
  color: white !important;
  border: solid 1px var(--clr-primary);
}

/**********************************************************/

.btn.btn-rounded.secondary.white {
  background-color: transparent;
  color: white !important;
  border: solid 1px white;
  border-radius: 100px;
}

.btn.btn-rounded.secondary.white:hover {
  background-color: var(--clr-primary-dark);
  color: white !important;
  border: solid 1px var(--clr-primary-dark);
}

/**********************************************************/

.btn.btn-rounded.primary {
  background-color: var(--clr-primary) !important;
  color: white !important;
  border: solid 1px var(--clr-primary) !important;
  border-radius: 100px !important;
}

.btn.btn-rounded.primary:hover {
  background-color: var(--clr-primary-dark) !important;
  color: white !important;
  border: solid 1px var(--clr-primary-dark) !important;
}

/**********************************************************/

.btn.btn-rounded.thin {
  color: var(--clr-primary);
  border-radius: 100px;
  border: 1px solid var(--clr-primary);
  background-color: white;
  border-radius: 12px;
  padding: 0px 8px;
  font-size: 14px;
}

.btn.btn-rounded.thin:hover {
  color: white;
  border-radius: 100px;
  border: 1px solid var(--clr-primary);
  background-color: var(--clr-primary);
  border-radius: 12px;
  padding: 0px 8px;
  font-size: 14px;
}
.btn.btn-rounded.thin.primary {
  color: white;
  border-radius: 100px;
  border: 1px solid var(--clr-primary);
  background-color: var(--clr-primary);
  border-radius: 12px;
  padding: 0px 8px;
  font-size: 14px;
}

.btn.btn-rounded.thin.primary:hover {
  color: var(--clr-secondary);
  border-radius: 100px;
  border: 1px solid var(--clr-primary-dark);
  background-color: var(--clr-primary-dark);
  border-radius: 12px;
  padding: 0px 8px;
  font-size: 14px;
}

/**********************************************************/
.btn.btn-action.view {
  width: auto;
  height: 27px;
  background-color: rgb(146, 255, 160);
  color: #026800;
  padding: 4px 8px;
  line-height: 0;
  font-weight: 500;
  border-radius: 100px;
}
.btn.btn-action.view:hover {
  background-color: rgb(115, 223, 129);
  color: #026800;
}

.btn.btn-action.edit {
  width: auto;
  height: 27px;
  background-color: rgb(146, 181, 255);
  color: #000a68;
  padding: 4px 8px;
  line-height: 0;
  font-weight: 500;
  border-radius: 100px;
}
.btn.btn-action.edit:hover {
  background-color: rgb(108, 144, 221);
  color: #000a68;
}

.btn.btn-action.delete {
  width: auto;
  height: 27px;
  background-color: rgb(255, 146, 146);
  color: #680000;
  padding: 4px 8px;
  line-height: 0;
  font-weight: 500;
  border-radius: 100px;
}
.btn.btn-action.delete:hover {
  background-color: rgb(223, 116, 116);
  color: #680000;
}

/* buttons for transactions */

/* Button Styles for Owner */
.btn.btn-rectangle.btn-owner-primary {
  background-color: var(
    --clr-owner-txt
  ) !important; /* Customize for owner primary button */
  color: white;
  border: solid 1px var(--clr-owner-txt);
  border-radius: 4px;
}

.btn.btn-rectangle.btn-owner-secondary {
  border-color: var(--clr-owner-txt);
  color: var(--clr-owner-txt);
}

/* Button Styles for Renter */
.btn.btn-rectangle.btn-renter-primary {
  background-color: var(
    --clr-renter-txt
  ) !important; /* Customize for owner primary button */
  color: white;
  border: solid 1px var(--clr-renter-txt);
  border-radius: 4px;
}

.btn.btn-rectangle.btn-renter-secondary {
  border-color: var(--clr-renter-txt);
  color: var(--clr-renter-txt);
}

/* Default Button Styles */
.btn-primary {
  background-color: #007bff;
  color: white;
}

.btn-secondary {
  background-color: #f4f4f4;
  color: #007bff;
}

.btn-icon {
  all: unset;
  padding: 0;
  margin: 0;
  background-color: none;
  color: white !important;
  border: solid 1px var(--clr-primary);
  border-radius: 4px;
  padding: 6px;
}
.btn-icon img {
  height: 24px;
  width: 24px;
}

.btn-icon:hover {
  color: white !important;
  background-color: var(--clr-neutral-muted);
}
.btn-icon.option{
  all: unset;
  padding: 0;
  margin: 0;
  background-color: none;
  color: white !important;
  border: none;
  border-radius: 50%;
  background-color: none;
  padding: 4px 5px;
}
.btn-icon.option img {
  height: 24px;
  width: 24px;
}

.btn-icon.option:hover {
  color: white !important;
  background-color: var(--clr-neutral-muted);
}
