/* Base Button Styles */
.btn {
  padding: 7px 28px !important;
  transition: background-color 0.3s, color 0.3s;
  display: flex;
  align-items: center;
  gap: 8px;
  flex-direction: row;
  justify-content: center;
}

.btn img {
  height: 16px;
}
.btn.btn-rectangle.primary:hover svg {
  fill: white; /* Change to white on hover */
}
/* Rectangle Buttons */
.btn.btn-rectangle {
  border-radius: 4px;
}

.btn.btn-rectangle.muted {
  background-color: white;
  color: var(--clr-secondary) !important;
  border: solid 1px var(--clr-secondary);
}
.btn.btn-rectangle.muted:hover {
  background-color: var(--clr-secondary);
  color: white !important;
}

.btn.btn-rectangle.secondary {
  background-color: white;
  color: var(--clr-primary) !important;
  border: solid 1px var(--clr-primary);
}
.btn.btn-rectangle.secondary:hover {
  background-color: var(--clr-primary-light);
  color: white !important;
}

.btn.btn-rectangle.primary {
  background-color: var(--clr-primary);
  color: white !important;
  border: solid 1px var(--clr-primary);
}
.btn.btn-rectangle.primary:hover {
  background-color: var(--clr-primary-dark);
}

.btn.btn-rectangle.secondary.white {
  background-color: transparent;
  color: white !important;
  border: solid 1px white;
  border-radius: 8px;
}
.btn.btn-rectangle.secondary.white:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.btn.btn-rectangle.secondary.opac {
  background-color: rgba(255, 255, 255, 0) !important;
  color: white !important;
  border: solid 1px white !important;
}
.btn.btn-rectangle.secondary:hover.opac {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.btn.btn-rectangle.primary.opac {
  background-color: white !important;
  color: var(--clr-secondary) !important;
  border: solid 1px white !important;
}
.btn.btn-rectangle.primary:hover.opac {
  border: 1px solid var(--clr-secondary) !important;
  background-color: var(--clr-secondary) !important;
  color: white !important;
}

/* Rounded Buttons */
.btn.btn-rounded {
  border-radius: 100px;
}

.btn.btn-rounded.secondary {
  background-color: white;
  color: var(--clr-primary) !important;
  border: solid 1px var(--clr-primary);
}
.btn.btn-rounded.secondary:hover {
  background-color: var(--clr-primary);
  color: white !important;
}

.btn.btn-rounded.secondary.opac {
  background-color: rgba(255, 255, 255, 0) !important;
  color: white !important;
  border: solid 1px white !important;
}
.btn.btn-rounded.secondary:hover.opac {
  background-color: rgba(255, 255, 255, 0.2) !important;
}

.btn.btn-rounded.primary {
  background-color: var(--clr-primary) !important;
  color: white !important;
  border: solid 1px var(--clr-primary) !important;
}
.btn.btn-rounded.primary:hover {
  background-color: var(--clr-primary-dark) !important;
}

/* Thin Rounded Buttons */
.btn.btn-rounded.thin {
  color: var(--clr-primary);
  border-radius: 12px;
  border: 1px solid var(--clr-primary);
  background-color: white;
  padding: 0px 8px;
  font-size: 14px;
}
.btn.btn-rounded.thin:hover {
  color: white;
  background-color: var(--clr-primary);
}

/* Action Buttons */
.btn.btn-action {
  width: auto;
  height: 27px;
  padding: 4px 8px;
  line-height: 0;
  font-weight: 500;
  border-radius: 100px;
}
.btn.btn-action.view {
  background-color: rgb(146, 255, 160);
  color: #026800;
}
.btn.btn-action.view:hover {
  background-color: rgb(115, 223, 129);
}

.btn.btn-action.edit {
  background-color: rgb(146, 181, 255);
  color: #000a68;
}
.btn.btn-action.edit:hover {
  background-color: rgb(108, 144, 221);
}

.btn.btn-action.delete {
  background-color: rgb(255, 146, 146);
  color: #680000;
}
.btn.btn-action.delete:hover {
  background-color: rgb(223, 116, 116);
}

/* Role-Specific Buttons */
.btn.btn-rectangle.btn-owner-primary {
  background-color: var(--clr-owner-txt) !important;
  color: white;
  border: solid 1px var(--clr-owner-txt);
}

.btn.btn-rectangle.btn-owner-secondary {
  border-color: var(--clr-owner-txt);
  color: var(--clr-owner-txt);
}

.btn.btn-rectangle.btn-renter-primary {
  background-color: var(--clr-renter-txt) !important;
  color: white;
  border: solid 1px var(--clr-renter-txt);
}

.btn.btn-rectangle.btn-renter-secondary {
  border-color: var(--clr-renter-txt);
  color: var(--clr-renter-txt);
}

.btn.btn-rectangle.btn-buyer-secondary {
  border-color: var(--clr-buyer-txt);
  color: var(--clr-buyer-txt);
}
.btn.btn-rectangle.btn-buyer-primary {
  background-color: var(--clr-buyer-txt) !important;
  color: white;
  border: solid 1px var(--clr-buyer-txt);
}



/* Icon Buttons */
.btn.btn-icon {
  all: unset;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 6px !important;
  color: white !important;
  border-radius: 4px;
  cursor: pointer;
}

.btn.btn-icon.primary {
  border: solid 1px var(--clr-primary);
}
.btn.btn-icon.primary:hover {
  background-color: var(--clr-neutral-muted);
}

.btn.btn-icon.secondary {
  border: none;
  border-radius: 50%;
}
.btn.btn-icon.secondary:hover {
  background-color: var(--clr-neutral-muted);
}

.btn.btn-icon img {
  height: 24px;
  width: 24px;
}

.btn.btn-icon.tertiary {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  padding: 8px !important;
  transition: ease 0.3s background-color;
}
.btn.btn-icon.tertiary:hover {
  background-color: rgba(255, 255, 255, 0.3);
}
