/* * * * * * * * * */
/*   Containers    */
/* * * * * * * * * */
.container {
  width: auto;
  height: auto;
  padding: 10px;
  margin: 10px;
}

/* rounded container with margin, padding */
.container.rounded {
  border-radius: 4px;
}

.container.rounded.bg-white {
  background-color: white;
}

/* Full width, no gap/padding.margin */
.container.max-xy {
  width: auto;
  height: auto;
  padding: auto;
  margin: auto;
}

/* container for home page, etc. contents para lang di sagad width niya */
.container-content {
  padding: 3% 8% !important;
  position: relative !important;
  background-color: #f5f5f5 !important;
}
.container-content .item {
  margin-top: 10px;
}

.admin-content-container {
  width: 100%;
  border-radius: 10px;
  padding: 24px;
  overflow: hidden;
}