.card-container {
  display: flex !important;
  flex-wrap: wrap !important;
  gap: 28px !important;
  justify-content: flex-start !important;
}

@media (max-width: 600px) {
  .card-container {
    gap: 12px !important;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
  .card-container {
    gap: 16px !important;
  }

  .card.variant-2 {
    width: 172px !important;
  }
}

@media (min-width: 1025px) {
  .card-container {
    gap: 22px !important;
  }

  .card.variant-2 {
    width: 181px !important;
  }
}

.card.variant-2 {
  display: block;
  width: 362px !important;
  padding: 8px;
  border: 1px solid white !important;
  margin: 0;
  height: 243px;
}

.card.variant-2 .details {
  display: flex;
  justify-content: space-between;
  gap: 12px !important;
}
.card.variant-2 .details .description {
  display: flex;
  flex-direction: column;
  gap: 12px !important;
  width: 100%;
}

.card.variant-2 .details {
  overflow: visible;
  display: flex !important;
  flex-direction: row !important;
  width: auto !important;
  gap: 8px;
}

.card.variant-2:hover {
  border: 1px solid var(--clr-primary) !important;
}

.card.variant-2 .img-holder {
  width: 100% !important;
  height: auto !important;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card.variant-2 .img-holder .img {
  width: 100%;
  height: 100%;
  object-fit: cover !important;
  border-radius: 4px;
}
.card.variant-2 .img-holder .item-type:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.card.variant-2 .description {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}
.card.variant-2 .tags-holder {
  padding: 0;
  margin: 0;
  display: flex;
  gap: 4px;
}

.card.variant-2 .tags-holder .tag {
  display: inline-block;
  margin: 0;
  line-height: 1;
  vertical-align: top;
  padding: 4px 8px;
  border-radius: 100px;
  background-color: var(--clr-neutral-muted) !important;
  color: var(--clr-neutral-gray);
  font-weight: 700;
  font-size: 12px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 81px;
  border: none !important;
}

.card.variant-2 .item-name {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 181px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.3;
  margin: 0;
  padding: 0;
}

.card.variant-2 .rental-desc-holder {
  display: flex !important;
  flex-direction: column;
  border: 1px solid #ccc;
  border-radius: 5px;
  position: relative;
  gap: 4px;
  padding: 8px !important;
}

.card.variant-2 .rental-desc-holder label {
  color: var(--clr-neutral-gray) !important;
  font-weight: 500;
  font-size: 12px;
}
.card.variant-2 .rental-desc-holder .rental-date,
.card.variant-2 .rental-desc-holder .rental-duration {
  color: var(--clr-secondary) !important;
  font-weight: 600;
  font-size: 16px;
  line-height: 1;
  padding: 0;
  margin: 0;
}

.card.variant-2 .action-btns {
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
  position: relative;
  bottom: 1px;
}

.card.variant-2 .details .description .action-btns .btn {
  padding: 7px 10px !important;
  width: 100% !important;
  z-index: 999;
}

.card.variant-2 .label {
  position: absolute;
  top: -10px;
  left: 10px;
  z-index: 1;
  background: #fff; 
  padding: 0 5px;
  color: var(--clr-neutral-gray) !important;
  font-weight: 500;
  font-size: 12px;
}

.card.card.variant-2 .link.more {
  display: inline-block;
  font-size: 14px;
  line-height: 1;
}
