/* * * * * * * * * */
/*  Categories     */
/* * * * * * * * * */
.box-div {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    width: 150px;
    height: 150px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .categories {
    display: flex;
    justify-content: space-between;
  }