.top-bar-notification {
  background-color: blueviolet;
  color: white !important;
  padding: 10px 10px 1px 10px;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.pending-topbar-notification {
  color: white !important;
  padding: 10px 10px 1px 10px;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1000;
}
.pending-topbar-notification.flagged {
  background-color: rgb(226, 43, 43);
}
.pending-topbar-notification.pending {
  background-color: rgb(226, 192, 43);
}
.pending-topbar-notification.verified {
  background-color: rgb(39, 189, 59);
}

.pending-topbar-notification a,
.top-bar-notification a {
  color: #c5e1ff;
  text-decoration: underline;
  font-weight: bold;
}
.pending-topbar-notification p,
.top-bar-notification p {
  color: white;
}
