/* * * * * * * * * */
/*      Icons      */
/* * * * * * * * * */
.icon-link > img {
  width: 40px;
  height: 40px;
}

.nav-icons .icon-link:hover img {
  filter: none;
}

.nav-icons .icon-link {
  background-color: var(--clr-dark); 
}

img.icon.more {
  width: 28px;
  height: auto;
  border-radius: 100%;
  border: 1px solid var(--clr-muted);
  margin: 0px;
}
img.icon.more:hover {
  border-radius: 100%;
  border: 1px solid var(--clr-primary);
  margin: 0px;
}

.admin.icon {
  width: 48px;
  height: auto;
  border-radius: 100%;
  margin: 0px;
}

.icon.flag-item {
  position: absolute;
  background-color: none;
  left: 24px;
  top: 200px;
  right: 0px;
  display: inline-block; 
  transition: opacity 0.3s ease; 
  filter: grayscale(100%); 
  opacity: 50%;
}


.icon.flag-item:hover {
  filter: brightness(100%);
  opacity: 100%;
}

.icon.flag-item.variant-1 {
  position: absolute;
  background-color: none;
  left: 183px;
  top: 200px;
  display: inline-block; 
  transition: opacity 0.3s ease; 
  filter: grayscale(100%); 
  opacity: 50%;
}

.icon.flag-item.variant-1:hover {
  filter: brightness(100%);
  opacity: 100%;
}
