.icon-link > img {
    width: 40px;
    height: 40px;
    filter: grayscale(100%), brightness(1);
  }
  
  .nav-icons .icon-link:hover img {
    filter: none;
  }
  
  .nav-icons .icon-link {
    background-color: var(--clr-dark); /* Set your desired dark color here */
  }
  