/* * * * * * * * * */
/*  Categories     */
/* * * * * * * * * */

.categories {
  display: flex;
  justify-content: space-between;
  width: 100%;
  overflow: hidden;
  overflow-x: scroll;
  gap: 16px;
}

.categories::-webkit-scrollbar {
  display: none; 
}

.categories {
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

.category {
  display: flex;
  align-items: center; 
  width: auto; 
  height: auto;
  border: 0.5px solid var(--clr-muted);
  padding: 16px;
  border-radius: 4px;
  background-color: white;
  flex-shrink: 0; 
}


.category .text-side {
  display: flex;
  flex: column;
  gap: 10px;
}

.category img {
  height: 42px; 
  width: auto;
  object-fit: cover; 
  background-color: var(--clr-muted);
  overflow: hidden;
  border-radius: 4px;
  padding: 4px;
  margin-right: 16px;
}

.category a,
.category span {
  text-decoration: none;
  line-height: 1;
  font-weight: 500;
}
