.post-details {
  border: 1px solid var(--clr-light);
  border-radius: 4px;
  padding: 8px;
  width: 1000px;
}

.post-details .item-image {
  height: 250px;
  width: 100%;
  background-color: aqua;
}

.post-terms .d-flex {
  display: flex;
}

.post-terms .term {
  padding: 10px 0;
}
