.container-content.add-item-detail {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0;
  margin: 0;
}
.add-item-container {
  background-color: white;
  border-radius: 8px;
  padding: 8px;
  margin: 0;
  display: flex;
  flex-direction: row;
  gap: 8px;
  height: 790px !important;
  width: 100%;
}

.add-item-container .imgs-container {
  height: 100%;
  width: 100%;
  border-radius: 8px;
  overflow: hidden;
  background-color: var(--clr-neutral-muted);
  position: relative;
  display: flex;
  justify-content: center;
}
.relative {
  position: relative;
}

.add-item-container .imgs-container img.item-type {
  position: absolute;
  height: 44px;
  width: 44px;
  right: 0;
  top: 0;
  padding: 4px;
  margin: 8px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 50%;
  transform: rotate(45deg);
  transition: ease 0.5s background-color;
  z-index: 4;
}

.add-item-container .imgs-container img.item-type:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.add-item-container .imgs-container img.item-type:hover {
  background-color: rgba(0, 0, 0, 0.5);
}

.add-item-container .imgs-container:hover .img-slider {
  display: flex;
  visibility: visible;
}

.add-item-container .imgs-container .img-slider img.item-img {
  height: 100%;
  width: auto;
  filter: brightness(0.5);
}

.add-item-container .imgs-container .img-slider img.item-img:hover {
  filter: brightness(0.8);
}
.add-item-container .imgs-container .img-slider img.item-img.center {
  filter: brightness(1);
  border: 1px solid white;
}


.image-preview {
  cursor: pointer;
  position: relative;
  height: 500px;
  width: 600px;
}

.add-item-container .rental-details {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.image-preview img {
  object-fit: contain;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.image-preview:hover .overlay {
  opacity: 1;
}

.small-image-previews {
  display: flex;
  margin-top: 10px;
}

.small-image-container {
  margin-right: 5px;
}

.small-image {
  width: 50px;
  height: 50px;
  cursor: pointer;
  opacity: 0.6;
}

.small-image.active {
  border: 2px solid blue;
  opacity: 1;
}

.form-fields {
  width: 100%;
  height: 500px;
  overflow-y: scroll;
  background-color: #f5c518;
  padding: 0;
  margin: 0;
}

/* * * * * * * * * */
/*   LISTING ITEM  */
/* * * * * * * * * */
.profile-info {
  /* display: flex; comment ko muna to ha kasi naadjust rin yung style sa .profile-info sa profile page naging flex*/
  align-items: center;
}

.profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.user-name {
  display: block;
  font-weight: bold;
}

.rating {
  font-size: 0.875rem;
  color: #f5c518;
}

.price {
  color: green;
  font-weight: bold;
}

/* * * * * * * * * */
/*   View Item     */
/* * * * * * * * * */

.item-container,
.user-info,
.item-specs {
  margin-bottom: 30px;
  padding: 20px 10px;
  border-radius: 5px;
  background-color: white;
  border-radius: 8px;
}

.item-image img {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
  border-radius: 8px;
}

.item-desc p {
  margin: 5px 0;
}

.price {
  font-size: 1.5em;
  font-weight: bold;
  color: #333;
}

.form-check {
  margin-top: 10px;
}

.groupby input[type="text"] {
  background-image: white;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  display: block;
  width: 100%;
}

.delivery-options label {
  margin-right: 15px;
}

.user-info .profile-pic {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  object-fit: cover;
}

.rating {
  font-size: 1.2em;
}

.spec-title,
.item-specs-description {
  font-size: 1em;
  border: 1px solid var(--clr-secondary);
  border-radius: 5px;
  height: 40px;
  margin-bottom: 4px;
  min-width: 100px;
  max-width: 100%;
  overflow: hidden;
}

.item-description,
.item-specs-description {
  resize: horizontal;
}

.add-item-detail .field-container {
  all: unset;
  border-radius: 0 !important;
  
}
.field-container .input-wrapper {
  display: flex;
  flex-direction: row;
  gap: 4px;
  width: 100%;
  border-radius: 0px !important;
}
.field-container label {
  display: inline-block;
  white-space: nowrap;
}

.add-item-detail .field-container .input-wrapper .input {
  all: unset;
  width: 100%; 
  padding: 5px !important; 
  box-sizing: border-box;
  all: unset;
  border: 1px solid #dbdbdb !important;
  border-radius: 4px !important;
  flex-grow: 1;
}

@media (max-width: 600px) {
  .add-item-container {
    display: flex;
    flex-direction: column !important;
    height: auto !important;
  }

  .add-item-container .imgs-container {
    display: flex;
    flex-direction: column;
  }

  .add-item-container .imgs-container .img-slider img.item-img {
    height: auto;
    width: 48px;
    filter: brightness(0.5);
  }

  .add-item-container .rental-dates-durations {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: auto;
    gap: 8px !important;
  }

  .add-item-container .rental-dates-durations .date-picker {
    display: inline-block;
  }
}

@media (min-width: 601px) and (max-width: 1024px) {
}

@media (min-width: 1025px) {
}
