
.profile-content {
  background-color: transparent !important;
  margin-bottom: 100px !important;
}
.profile-page .profile-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2em 0;
}

.item-listing {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 1em;
  padding: 1em;
  width: 200px;
  text-align: left;
}

.item-listing img {
  width: 100%;
}

.item-details h2 {
  margin: 10px;
}

.items-header {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

/* Items content styling */
.items-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.star-rating {
  display: inline-flex;
}

.star-icon {
  font-size: 1.2em;
  background: var(--clr-main);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.star-icon.empty {
  background: #e0e0e0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.item {
  position: relative;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.item > *:not(:last-child) {
  padding: 10px 0;
}

.table-responsive {
  margin-top: 20px;
  padding: 0 20px;
}

.item h2 {
  padding: 20px 20px 0;
}

.photo-icon-container {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.custom-container .table {
  --bs-table-color: var(--bs-emphasis-color);
  --bs-table-bg: transparent;
  --bs-table-border-color: var(--bs-border-color);
  --bs-table-border-radius: 10px;
}

.custom-container .table .table-header {
  background: var(--clr-main-lighter);
}

.custom-container .table {
  --bs-table-color: var(--bs-emphasis-color);
  --bs-table-bg: transparent;
  --bs-table-border-color: var(--bs-border-color);
  border-radius: 10px;
  overflow: hidden;
}

.custom-container .table .table-header th {
  color: black;
  font-weight: bold;
}

.photo-icon {
  transition: transform 0.3s ease;
  width: 30px;
  height: 30px;
}

.photo-icon-container:hover .photo-icon {
  transform: scale(1.1);
}

.table-edit-btn {
  background-color: #007bff;
  border: none;
  color: #fff;
  transition: background 0.3s ease;
  padding: 6px 12px;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.table-edit-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: var(--clr-main);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.table-edit-btn:hover::before {
  opacity: 1;
}

.table-edit-btn:hover {
  color: #fff;
}

.star-icon {
  background: var(--clr-main);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.transactions-table-container {
  width: 100%;
  overflow-x: auto;
}
.transactions-table-container h3 {
  text-align: center;
}
.transactions-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1em;
  min-width: 400px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  --bs-table-color: var(--bs-emphasis-color);
  --bs-table-bg: transparent;
  --bs-table-border-color: var(--bs-border-color);
}

.transactions-table thead {
  background-image: var(--clr-main-lighter);
}

.transactions-table th,
.transactions-table td {
  padding: 12px 15px;
  color: black;
}

.transactions-table tbody tr {
  border-bottom: 1px solid #ddd;
}

.transactions-table tbody tr:nth-of-type(even) {
  background-color: #f4f4f4;
}

.transactions-table tbody tr:last-of-type {
  border-bottom: 1px solid #ddd;
}

.table-edit-btn {
  background-color: #007bff;
  border: none;
  color: #fff;
  transition: background 0.3s ease;
  padding: 6px 12px;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.table-edit-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: var(--clr-main);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.table-edit-btn:hover::before {
  opacity: 1;
}

.table-edit-btn:hover {
  color: #fff;
}
