:root {
  --clr-main: linear-gradient(to right, #2179c8, #c31f3b);
  --clr-main-darker: linear-gradient(to right, #1b62a0, #99182e);
  --clr-main-reverse: linear-gradient(to left, #2179c8, #c31f3b);
  --clr-main-lighter: linear-gradient(to right, #d4e3f8, #f7d4d8);
  --clr-secondary: #6c757d;
  --clr-light: #e0e0e0;
  --clr-white: #ffffff;
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}
.profile-page .profile-header {
  margin-top:10px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  position: relative;
  border-radius: 20px;
  width: 90%;

}
.profile-page .profile-banner {
  width: 100%;
  height: 180px;
  background: var(--clr-main);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
}

.profile-page .profile-picture {
  margin-top: -60px;
  width: 120px;
  height: 120px;
  background: #ccc;
  border-radius: 50%;
  margin-right: 1em;
  overflow: hidden;
  border: 5px solid white;
  bottom: -50px;

  z-index: 1;
}
.profile-page .profile-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.profile-page .profile-info h1 {
  margin: 10px 0;
}

.profile-page .profile-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2em 0;
}

.item-listing {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 1em;
  padding: 1em;
  width: 200px;
  text-align: left;
}

.item-listing img {
  width: 100%;
}

.item-details h2 {
  margin: 10px;

}

.prof-container {
  display: flex;
  background-color: #e0e0e0;
}

.profile-page .profile-sidebar {
  width: 200px;
  height: 300px;
  padding: 20px;
  background-color: white;
  border-right: 1px solid #dee2e6;
  border-radius: 20px;
  margin: 10px;
}

.profile-page .profile-sidebar ul {
  list-style-type: none;
  padding: 0;
}

.profile-page .profile-sidebar ul li {
  margin-bottom: 10px;
}

.profile-page .profile-content-wrapper {
  width: 80%;
  background-color: #e0e0e0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.profile-page .profile-sidebar ul li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  transition: color 0.3s;
  font-weight: bold;
}

.profile-page .profile-sidebar ul li a.active,
.profile-sidebar ul li a:hover {
  background: var(--clr-main);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.profile-page .profile-sidebar ul li a::before {
  content: "";
  position: absolute;
  left: -10px; 
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 100%; 
  background-color: #2179c8;
  border-radius: 3px;
  transition: all 0.3s;
  opacity: 0;
}

.profile-page .profile-sidebar ul li a.active::before,
.profile-sidebar ul li a:hover::before {
  opacity: 1;
  left: -10px;
  opacity: 1;
  left: -10px; 
  background: var(--clr-main); 
}

.profile-page .profile-content {
  flex-grow: 1;
  background-color: white;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}


.profile-page .banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-page .profile-info {
  text-align: center;
  width: 70%;
}

.profile-page .profile-info h1 {
  margin: 10px 0;
}

.profile-page .profile-details {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.profile-page .profile-details > div {
  text-align: center;
}

.profile-page .profile-details .profile-label {
  font-weight: bold;
  color: #6c757d;
}

.profile-page .profile-details .profile-value {
  display: block;
  margin-top: 5px;
}

.profile-page .profile-bio {
  text-align: center;
}

.profile-page .edit-profile-button {
  margin-top: 10px;
  padding: 5px 10px;
  border: none;
  background: var(--clr-main-reverse);
  color: white;
  border-radius: 50px;
  cursor: pointer;
}

.profile-page .edit-profile-button:hover {
  background: var(--clr-main-darker);
}

.profile-page .profile-content {
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  width: 90%;
}

.items-header {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

/* Items content styling */
.items-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.star-rating {
  display: inline-flex;
}

.star-icon {
  font-size: 1.2em;
  background: var(--clr-main);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.star-icon.empty {
  background: #e0e0e0;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
/* .custom-container {
  position: relative;
} */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
}

.item {
  position: relative;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
}

.item > *:not(:last-child) {
  padding: 10px 0;
}

/* .card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
}

.card {
  width: calc(33.333% - 20px);
  max-width: 100%;
  background-color: #f8f9fa;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
} */

/* @media (max-width: 992px) {
  .card {
    width: calc(50% - 20px);
  }
} */

/* @media (max-width: 576px) {
  .card {
    width: 100%;
  }
} */

/* .card-img-top {
  padding: 10px;
}

.card-img-top img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 4px;
}

.card-body {
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.card-body > *:not(:last-child) {
  margin-bottom: 4px;
} */

.table-responsive {
  margin-top: 20px;
  padding: 0 20px;
}

.item h2 {
  padding: 20px 20px 0;
}

.photo-icon-container {
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
}

.custom-container .table {
  --bs-table-color: var(--bs-emphasis-color);
  --bs-table-bg: transparent;
  --bs-table-border-color: var(--bs-border-color);
  --bs-table-border-radius:10px;
}

.custom-container .table .table-header {
  background: var(--clr-main-lighter);
}

.custom-container .table {
  --bs-table-color: var(--bs-emphasis-color);
  --bs-table-bg: transparent;
  --bs-table-border-color: var(--bs-border-color);
  border-radius: 10px;
  overflow: hidden;
}

.custom-container .table .table-header th {
  color: black;
  font-weight: bold;
}


.photo-icon {
  transition: transform 0.3s ease;
  width: 30px;
  height: 30px;
}

.photo-icon-container:hover .photo-icon {
  transform: scale(1.1);
}

/* .card {
  position: relative;
  transition: all 0.3s ease;
  border: 2px solid #e0e0e0;
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.card:hover {
  border: double 1px transparent;
  background-image: linear-gradient(white, white), var(--clr-main);
  background-origin: border-box;
  background-clip: content-box, border-box;
} */
.table-edit-btn {
  background-color: #007bff;
  border: none;
  color: #fff;
  transition: background 0.3s ease;
  padding: 6px 12px;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.table-edit-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: var(--clr-main);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.table-edit-btn:hover::before {
  opacity: 1;
}

.table-edit-btn:hover {
  color: #fff;
}

.star-icon {
  background: var(--clr-main);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.transactions-table-container {
  width: 100%;
  overflow-x: auto;
}
.transactions-table-container h3 {
  text-align: center;
}
.transactions-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 1em;
  min-width: 400px;
  border: 1px solid #ddd;
  border-radius: 10px;
  overflow: hidden;
  --bs-table-color: var(--bs-emphasis-color);
  --bs-table-bg: transparent;
  --bs-table-border-color: var(--bs-border-color);
}

.transactions-table thead {
  background-image: var(--clr-main-lighter);
}

.transactions-table th,
.transactions-table td {
  padding: 12px 15px;
  color: black;
}

.transactions-table tbody tr {
  border-bottom: 1px solid #ddd;
}

.transactions-table tbody tr:nth-of-type(even) {
  background-color: #f4f4f4;
}

.transactions-table tbody tr:last-of-type {
  border-bottom: 1px solid #ddd;
}


.table-edit-btn {
  background-color: #007bff;
  border: none;
  color: #fff;
  transition: background 0.3s ease;
  padding: 6px 12px;
  border-radius: 4px;
  position: relative;
  z-index: 1;
  overflow: hidden;
}

.table-edit-btn::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: var(--clr-main);
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.table-edit-btn:hover::before {
  opacity: 1;
}

.table-edit-btn:hover {
  color: #fff;
}

