
.container-content.profile-detail .profile-container {
    display: flex !important;
    gap: 16px !important;
}
.container-content.profile-detail .profile-container .profile-content {
    flex-grow: 1;
    background-color: white;
    border-radius: 20px;
  }

  