/* gen design */
.sub-section-label {
  margin: 0;
  padding: 0;
  line-height: 1;
  color: var(--clr-neutral-black);
  font-weight: 500;
  background-color: var(--clr-neutral-muted);
  padding: 12px 8px !important;
  border-radius: 4px;
}

.specifications-wrapper {
  width: 100%;
  overflow-x: auto;
}

.specifications-table {
  width: max-content;
  border-collapse: collapse;
  margin: 0 8px;
  gap: 10px;
}

.specifications-table .value,
.specifications-table .key {
  font-size: 14px;
  line-height: 1.5;
  padding: 4px 0;
}

.specifications-table input {
  margin: 4px;
  width: 110px !important;
}
.specifications-table .key {
  color: var(--clr-neutral-dark-gray);
}

.specifications-table .value {
  color: var(--clr-neutral-black);
}

.specifications-table tbody tr:nth-child(odd) {
  background-color: var(--clr-neutral-light-gray);
}

.specifications-table tbody tr:nth-child(even) {
  background-color: white;
}

.specifications-table tbody tr td[colspan="2"] {
  text-align: center;
  font-style: italic;
  color: var(--clr-neutral-dark-gray);
}

.input-form.item-desc {
  background-color: white;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  padding: 8px;
  gap: 8px;
}

.input-form .input {
  all: unset;
  border: 1px solid #dbdbdb !important;
  border-radius: 4px !important;
  padding: 5px;
}

.input-form .tags-holder {
  padding: 4px !important;
  margin: 0 !important;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 4px !important;
  border: 1px solid #dbdbdb !important;
  border-radius: 8px;
}
.input-form .tags-holder.focused {
  border: 1px solid var(--clr-primary) !important; /* Apply border when focused */
}
.input-form .tags-holder .tag {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  vertical-align: middle;
  padding: 0 4px;
  border-radius: 100px;
  background-color: var(--clr-neutral-muted) !important;
  white-space: nowrap;
  border: none !important;
  border: 2px solid var(--clr-neutral-muted) !important;
  gap: 4px;
}
.input-form .tags-holder .tag .text {
  line-height: 1;
  color: var(--clr-neutral-gray);
  font-weight: 600;
  font-size: 14px;
  white-space: nowrap;
}

.input-form .tags-holder .tag-input {
  flex-grow: 1;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  outline: none;
}

.input-form .tags-holder {
  display: flex;
  flex-wrap: wrap; /* Allow tags to wrap to a new line */
  gap: 8px; /* Adjust spacing between tags */
  max-width: 100%; /* Ensure tags-holder does not overflow */
  overflow: hidden; /* Prevent overflowing */
  padding: 10px; /* Add padding for better appearance */
  border: 1px solid #ccc; /* Optional: Add border to define the container */
  border-radius: 4px; /* Optional: Rounded corners */
  box-sizing: border-box; /* Ensure padding is included in width calculations */
}
.tags-holder .btn.btn-icon.secondary {
  padding: 0 !important;
  background-color: none;
}

.input-form .tags-holder .tag.duplicate {
  background-color: red !important;
  border: 2px solid rgb(255, 195, 195) !important;
}
.input-form .tags-holder .tag.duplicate .text {
  color: white !important;
}
.input-form .tags-holder .tag.duplicate .btn-icon img {
  filter: invert(100%) !important;
}
.input-form .tags-holder .tag.duplicate .btn-icon:hover {
  filter: invert(0%) !important;
  background-color: red !important;
}

@media (max-width: 600px) {
}

@media (min-width: 601px) and (max-width: 1024px) {
}
@media (min-width: 1025px) {
}
