.container-content.terms-condition {
  height: 100vh;
  overflow: hidden;
}

.tc-wrapper {
  display: flex;
  flex-direction: row;
  gap: 16px;
}

.tc-wrapper .content {
  height: 80vh;
  overflow: auto;
  background-color: white;
  padding: 24px;
  border-radius: 8px;
}

.tc-wrapper .nav-links {
  width: 100vw;
  height: 80vh;
  overflow: auto;
  background-color: white;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow-x: auto;
  padding: 8px;
  border-radius: 8px;
}

.nav-links ul {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  list-style-type: none;
  gap: 3px !important;
}

.nav-links ul li {
  text-decoration: none;
  color: gray;
  padding: 2px;
  background-color: rgb(0, 0, 0, 0.05);
  border-radius: 4px;
  cursor: pointer;
  margin: 0;
}

.nav-links ul li.active {
  background-color: var(--clr-secondary);
  color: white;
}

.nav-links ul li:hover {
  background-color: rgb(0, 0, 0, 0.1);
}

.nav-links ul li:hover.active {
  background-color: var(--clr-secondary-dark);
}

.container-content.terms-condition .section-title {
  font-size: 22px;
  font-weight: 600;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
  color: var(--clr-secondary);
}

.container-content.terms-condition .section-subtitle {
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  list-style: none;
  padding: 0;
  margin: 0;
}
