/* * * * * * * * * */
/*     Footer      */
/* * * * * * * * * */
.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer > * {
  padding: 20px;
}

.flag {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  height: 170px;
}

.flag img {
  filter: brightness(0) invert(1);
  margin-right: 10px;
}

.footer-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.footer-links ul li a {
  background: var(--clr-main);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.link-header {
  flex: 1;
}

.link-header h5 {
  line-height: 1;
}

.link-header ul {
  padding: 2px 0px;
}

.link-header ul li {
  padding: 2px;
}

/* Large Devices */
@media (min-width: 993px) {
  .footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .flag {
    flex: 1 auto;
    margin-bottom: 0;
  }

  .link-header {
    flex: 1 1 auto;
  }
}

/* Medium Devices */
@media (max-width: 992px) {
  .footer {
    align-items: flex-start;
  }

  .footer-links {
    flex-direction: row;
    justify-content: space-between;
  }
}

/* Small Devices */
@media (max-width: 768px) {
  .footer {
    align-items: center;
  }

  .footer-links {
    flex-direction: column;
    align-items: center;
  }

  .link-header {
    width: 100%;
    text-align: center;
  }
}
