.header-container.profile-header {
  background-color: white;
  padding: 14px;
  overflow: hidden;
  border-radius: 10px;
  
  width: 100%;
}

.header-container .profile-banner {
  height: 200px;
  background: var(--clr-main);
  position: relative;
  border-radius: 10px;
  display: flex;
  align-items: center;
  overflow: hidden;
  padding: 36px;
  width: 100%;
}

.header-container .profile-banner > * {
  padding: 10px;
  
}

.header-container .profile-picture {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: auto;
  
}

.header-container .holder {
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-container .profile-photo {
  width: 148px;
  height: 148px;
  object-fit: cover;
  background-color: white;
  border-radius: 100px;
  border: 8px solid white;
}

.header-container .profile-info h1, .header-container .profile-info span {
  display: block;
  width: auto;
  color: white;
}
.header-container .profile-info span {
  display: block;
  width: auto;
  color: white;
  margin: 7px;
}

.header-container .banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.header-container .profile-details > div {
  text-align: center;
}

.header-container .profile-details .profile-label {
  font-weight: bold;
  color: white;
}

.header-container .profile-details .profile-value {
  display: block;
}

.header-container .profile-bio {
  text-align: center;
}

.header-container .edit-profile-button {
  border: none;
  background: var(--clr-main-reverse);
  color: white;
  border-radius: 50px;
  cursor: pointer;
}

.header-container .edit-profile-button:hover {
  background: var(--clr-main-darker);
}

.header-container .profile-info {
  gap: 36px;
}
.header-container .profile-header .label,
.header-container .profile-header .value {
  display: block;
  color: white;
  line-height: 1.2;
  margin-bottom: 8px
}

.header-container .profile-header .value {
  font-weight: 500;
}

.header-container.profile-header .select-option {
  /* background-color: #6c757d; */
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  display: flex;
  height: auto;
  justify-content: space-between;
  /* align-items: center; */
  line-height: 1;
}
.header-container.profile-header .select-option .dikoalam{
  margin: 12px;
  font-weight: 500;
  color: white;
}


.header-container .select-option .custom-dropdown {
  background-color: white;
  width: 128px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  height: 42px;
  overflow: hidden;
  cursor: pointer;
  transition: ease-in-out 0.3s height ;
}
.header-container .select-option .custom-dropdown.active {
  transition: ease-in-out 0.3s ;
  height: 162px;
}

.header-container .custom-dropdown > .dropdown-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  padding: 12px 8px;
  transition: 1s background-color;
}

.header-container .custom-dropdown > .dropdown-item:hover {
  background-color: var(--clr-muted);
}
.header-container .transaction-indicator {
  background-color: red;
  color: white;         
  border-radius: 50%;    
  width: 16px;          
  height: 16px;           
  display: flex;         
  justify-content: center;
  align-items: center;    
  font-size: 10px; 
  line-height: 0;
}

.header-container .transaction-indicator.not-active {
  background-color:var(--clr-secondary);
}


/* For Tablets (minimum width: 600px) */
@media (min-width: 600px) {
}

/* For Desktops (minimum width: 1024px) */
@media (min-width: 601px) and (max-width: 1024px) {
}

/* For Large Screens (minimum width: 1440px) */
@media (min-width: 1025px) {
}