.nav.nav-container {
    height: 124px;
    width: 100%;
    /* background-color: var(--clr-muted); */
    display: flex;
    padding: 24px;
    gap: 16px;
    align-items: center;
}

.searchbar {
    flex:1 ;
}

.searchbar input, .toolbar {
    width: 100%;
    border: none;
    height: 81px;
    border-radius: 8px;
    background-color: white;
    padding: 24px;
}

.toolbar {
    width: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.searchbar .search-icon {
    position: absolute;
    right: 200px;
    top: 52px;
    z-index: 1;
}

.user-dropdown {
    height: auto;
    width: auto;
    background-color: white;
    position: absolute;
    right: 20px;
    top: 100px;
}