.toolbar {
  all: unset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--clr-primary-light);
  padding: 8px;
  color: white;
}

.toolbar .select-container label {
  color: white;
}
.toolbar .select-container .select input[type="checkbox"] {
  width: 20px !important;
  height: 20px !important;
  background-color: transparent;
}
.toolbar .select-container {
  background-color: transparent !important;
  display: flex;
  gap: 2px;
  align-items: center;
}
.toolbar .select-container .select,
.toolbar .view-type {
  display: flex;
  gap: 2px;
  align-items: center;
}

/* Searchbar Styles */
.search-container input {
  height: 36px;
  border-radius: 8px;
  padding: 16px 10px !important;
  width: 430px;
  font-size: 16px;
  border: 1px solid;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

.search-container input.light {
  border-color: rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-container input.light:focus {
  border-color: white;
  box-shadow: 0px 0px 0px 6px rgba(255, 255, 255, 0.3);
}

.search-container input.light::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.toolbar img {
  filter: brightness(120%);
  fill: white;
  filter: none;
}
