.toolbar {
  width: 100%;
  all: unset;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* background-color: var(--clr-primary-light); */
  padding: 8px;
  gap: 16px; /* Add some gap between items */
}
.toolbar.blue {
  background-color: var(--clr-primary-light);
}

.toolbar .select-container label {
  color: white;
}

.toolbar .select-container .select input[type="checkbox"] {
  width: 20px !important;
  height: 20px !important;
  background-color: transparent;
}

.toolbar .select-container {
  background-color: transparent !important;
  display: flex;
  gap: 2px;
  align-items: center;
}

.toolbar .select-container .select,
.toolbar .view-type {
  display: flex;
  gap: 2px;
  align-items: center;
}

.search-container {
  display: flex;
  flex-grow: 1; 
}

/* Searchbar Styles */
.search-container input {
  flex-grow: 1;
  height: 36px;
  border-radius: 8px;
  padding: 16px 10px !important;
  width: 100%; /* Allow it to resize */
  font-size: 16px;
  border: 1px solid;
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

/* Light Mode Styles */
.search-container input.light {
  border-color: rgba(255, 255, 255, 0.3);
  background-color: rgba(255, 255, 255, 0.1);
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.search-container input.light:focus {
  border-color: white;
  box-shadow: 0px 0px 0px 6px rgba(255, 255, 255, 0.3);
}

.search-container input.light::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .search-container input {
    max-width: 350px; /* Adjust for tablets */
    width: 100%; /* Full width for tablets */
  }
}

@media (max-width: 480px) {
  .search-container input {
    max-width: 100%; /* Full width on mobile */
    width: 100%;
  }
}

.toolbar img {
  filter: brightness(120%);
  fill: white;
  filter: none;
  width: 30px;
  height: 30px;
}
