.swatch-sqr {
  width: 20px;
  height: 20px;
  border: #ffffff solid 1px;
}

/* * * * * * * * * */
/*       root      */
/* * * * * * * * * */
:root {
  --clr-primary: #2179c8;
  --clr-accent: #ff5400;
  --clr-primary-darker: #1d63a0;
  --clr-primary-lighter: rgb(40, 135, 218);
  --clr-muted: rgb(241, 241, 241);
  --clr-primary-muted: rgba(0, 123, 255, 0.1);
  --clr-main-darker: linear-gradient(to right, #1b62a0, #99182e);
  /* --clr-main-reverse: linear-gradient(to left, #2179c8, #c31f3b); */
  /* --clr-primary: #1c1c1c; */
  --clr-secondary: #6c757d;
  --clr-light: #e0e0e0;
  --clr-white: #ffffff;
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
  --clr-black: #131313;
}

/* Text Colors */

:root {
  --text-gradient: {
    background: var(--clr-main);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
}

.text-light {
  color: var(--clr-light);
}

/*  Font Sizes */
.fs-2 {
  font-size: 26px;
}
/* label for non inputs */
.label {
  font-size: 14px;
  color: var(--clr-secondary);
  font-weight: 400;
  line-height: 1;
  margin: 2px;
  padding:0;
}
/* Background Colors */
.bg-main {
  background: var(--clr-main);
}

.bg-light {
  background-color: var(--clr-light);
}

.text-primary {
  color: var(--clr-primary);
}
.text-accent {
  color: var(--clr-accent);
}

.text-white {
  color: white;
}

/* * * * * * * * * */
/* Basic CSS Reset */
/* * * * * * * * * */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #0a0a0a;
}

html,
body {
  height: 100%;
}

body {
  line-height: 1.6;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.button-container {
  margin-top: auto;
  display: flex;
  justify-content: flex-end;
}

.sub-icon {
  position: absolute;
  bottom: 15px;
  left: 30px;
  width: 20px;
  height: 20px;
  background-color: #c31f3b;
  border-radius: 100%;
}

:focus {
  outline: none;
}
hr {
  height: 0;
  margin: 0;
  padding: 0;
  line-height: 0%;
}
.groupby {
  background-color: #f1f1f1;
  padding: 12px;
  border-radius: 8px;
}
.sub-groupby {
  background-color: #ffffff;
  padding: 12px;
  border-radius: 8px;
}

.custom-container {
  padding: 3% 8%; /* Use percentage for responsiveness */
  position: relative;
  background-color: #f5f5f5 !important;
}
.custom-container .item {
  margin-top: 10px;
}
/* Medium Devices */
@media (max-width: 992px) {
  .custom-container {
    padding: 70px 50px;
    background-color: #f5f5f5 !important;
  }
}

/* Small Devices */
@media (max-width: 768px) {
  .custom-container {
    padding: 20px 25px;
    background-color: #f5f5f5 !important;
  }
}

.input-field label {
  font-size: 14px;
  font-weight: 500;
}


.card-link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit text color */
}

.card-link:hover .card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add hover effect */
}
