.swatch-sqr {
  width: 20px;
  height: 20px;
  border: #ffffff solid 1px;
}

/* * * * * * * * * */
/*       root      */
/* * * * * * * * * */
:root {
  --clr-main: linear-gradient(to right, #2179c8, #c31f3b);
  --clr-main-darker: linear-gradient(to right, #1b62a0, #99182e);
  --clr-main-reverse: linear-gradient(to left, #2179c8, #c31f3b);
  /* --clr-primary: #1c1c1c; */
  --clr-secondary: #6c757d;
  --clr-light: #e0e0e0;
  --clr-white: #ffffff;
  --ff-serif: "Bellefair", serif;
  --ff-sans-cond: "Barlow Condensed", sans-serif;
  --ff-sans-normal: "Barlow", sans-serif;
}

/* Text Colors */

:root {
  --text-gradient: {
    background: var(--clr-main);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
}

.text-light {
  color: var(--clr-light);
}

/*  Font Sizes */
.fs-2 {
  font-size: 26px;
}

/* Background Colors */
.bg-main {
  background: var(--clr-main);
}

.bg-light {
  background-color: var(--clr-light);
}

/* * * * * * * * * */
/* Basic CSS Reset */
/* * * * * * * * * */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #0a0a0a;
}

html,
body {
  height: 100%;
  background-color: white;
}

body {
  line-height: 1.6;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.card-img {
  padding: 10px;
  border-radius: 13px !important;
  overflow: hidden;
}

.card {
  box-shadow: 0 0 0 1px var(--clr-main), 0 0 0 2px var(--clr-main) inset;
}

/* Custom card hover styles */
.custom-container .card:hover {
  box-sizing: border-box;
  background-clip: padding-box;
  border: solid 1px transparent !important; /* Using !important to ensure it overrides */
  border-radius: 5px !important;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: -1px;
    border-radius: inherit;
    background: var(--clr-main) !important;
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

.btn.btn-primary {
  border-radius: 8px;
  padding: 7px 20px;
  color: var(--clr-main);
  border: solid 1px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    var(--clr-main);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
  transition: color 0.3s, background-image 0.3s, box-shadow 0.3s;
}

.btn.btn-primary.filled,
.btn.btn-primary.no-fill:hover {
  border: solid 1px transparent;
  color: white;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    var(--clr-main-darker);
  box-shadow: none;
  transition: color 0.3s, background-image 0.3s, box-shadow 0.3s;
}

.btn.btn-primary.filled .text-gradient,
.btn.btn-primary.no-fill:hover .text-gradient {
  -webkit-text-fill-color: white;
  color: white;
}

.btn.btn-primary.filled:hover,
.btn.btn-primary.no-fill {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    var(--clr-main);
  box-shadow: 2px 1000px 1px #fff inset;
  color: black;
}

.btn.btn-primary.filled:hover .text-gradient,
.btn.btn-primary.no-fill .text-gradient {
  background: var(--clr-main);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.btn.btn-secondary {
  border-radius: 100rem;
  padding: 7px 20px;
  color: var(--clr-main);
  border: solid 1px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    var(--clr-main);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
  transition: color 0.3s, background-image 0.3s, box-shadow 0.3s;
}

.btn.btn-secondary.filled,
.btn.btn-secondary.no-fill:hover {
  border: solid 1px transparent;
  color: white;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    var(--clr-main-darker);
  box-shadow: none;
  transition: color 0.3s, background-image 0.3s, box-shadow 0.3s;
}

.btn.btn-secondary.filled .text-gradient,
.btn.btn-secondary.no-fill:hover .text-gradient {
  -webkit-text-fill-color: white;
  color: white;
}

.btn.btn-secondary.filled:hover,
.btn.btn-secondary.no-fill {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    var(--clr-main);
  box-shadow: 2px 1000px 1px #fff inset;
  color: black;
}

.btn.btn-secondary.filled:hover .text-gradient,
.btn.btn-secondary.no-fill .text-gradient {
  background: var(--clr-main);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.btn.btn-tertiary {
  border-radius: 0px;
  padding: 3px 6px;
  color: var(--clr-main);
  border: solid 1px transparent;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    var(--clr-main);
  background-origin: border-box;
  background-clip: content-box, border-box;
  box-shadow: 2px 1000px 1px #fff inset;
  transition: color 0.3s, background-image 0.3s, box-shadow 0.3s;
}

.btn.btn-tertiary.filled,
.btn.btn-tertiary.no-fill:hover {
  border: solid 1px transparent;
  color: white;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    var(--clr-main-darker);
  box-shadow: none;
  transition: color 0.3s, background-image 0.3s, box-shadow 0.3s;
}

.btn.btn-tertiary.filled .text-gradient,
.btn.btn-tertiary.no-fill:hover .text-gradient {
  -webkit-text-fill-color: white;
  color: white;
}

.btn.btn-tertiary.filled:hover,
.btn.btn-tertiary.no-fill {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    var(--clr-main);
  box-shadow: 2px 1000px 1px #fff inset;
  color: black;
}

.btn.btn-tertiary.filled:hover .text-gradient,
.btn.btn-tertiary.no-fill .text-gradient {
  background: var(--clr-main);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}
.button-container {
  margin-top: auto; 
  display: flex;
  justify-content: flex-end;
}

.icon, .icon-link {
  background-color: var(--clr-light);
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.icon > img,
.icon-link > img {
  width: 30px;
  height: 30px;
}

.sub-icon {
  position: absolute;
  bottom: 15px;
  left: 30px;
  width: 20px;
  height: 20px;
  background-color: #c31f3b;
  border-radius: 100%;
}

:focus {
  outline: none;
}

.custom-container {
  padding: 0px;
  margin: 60px 100px;
  position: relative;
  /* top: -100px; */
  /* overflow: hidden; */
}
.custom-container item {
  margin-top: 10px;
}
/* Medium Devices */
@media (max-width: 992px) {
  .custom-container {
    margin: 70px 50px;
  }
}

/* Small Devices */
@media (max-width: 768px) {
  .custom-container {
    margin: 20px 25px;
  }
}

.profile-header {
  margin-top:10px ;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  padding: 20px;
  position: relative;
  border-radius: 20px;

}
.profile-banner {
  width: 100%;
  height: 180px;
  background: var(--clr-main);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 10px;
}

.profile-picture {
  margin-top: -60px;
  width: 120px;
  height: 120px;
  background: #ccc;
  border-radius: 50%;
  margin-right: 1em;
  overflow: hidden;
  border: 5px solid white;
  bottom: -50px;

  z-index: 1;
}
.profile-photo {
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.profile-info h1 {
  margin: 10px 0;
}

.profile-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 2em 0;
}

.item-listing {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 1em;
  padding: 1em;
  width: 200px;
  text-align: left;
}

.item-listing img {
  width: 100%;
}

.item-details h2 {
  margin: 10px;

}

.profile-container {
  display: flex;
  background-color: #e0e0e0;
}

.profile-sidebar {
  width: 200px;
  height: 300px;
  padding: 20px;
  background-color: white;
  border-right: 1px solid #dee2e6;
  border-radius: 20px;
  margin: 10px;
}

.profile-sidebar ul {
  list-style-type: none;
  padding: 0;
}

.profile-sidebar ul li {
  margin-bottom: 10px;
}

.profile-content-wrapper {
  width: 80%;
  background-color: #e0e0e0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.profile-sidebar ul li a {
  text-decoration: none;
  color: #333;
  display: block;
  padding: 10px;
  border-radius: 5px;
  position: relative;
  transition: color 0.3s;
  font-weight: bold;
}

.profile-sidebar ul li a.active,
.profile-sidebar ul li a:hover {
  background: var(--clr-main);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.profile-sidebar ul li a::before {
  content: "";
  position: absolute;
  left: -10px; /* Adjust to align correctly */
  top: 50%;
  transform: translateY(-50%);
  width: 5px;
  height: 100%; /* Ensure it spans the full height */
  background-color: #2179c8;
  border-radius: 3px;
  transition: all 0.3s;
  opacity: 0;
}

.profile-sidebar ul li a.active::before,
.profile-sidebar ul li a:hover::before {
  opacity: 1;
  left: -10px;
  opacity: 1;
  left: -10px; /* Ensure it moves left correctly */
  background: var(--clr-main); /* Apply the gradient to the bar */
}

.profile-content {
  flex-grow: 1;
  padding: 20px;
  background-color: white;
  border-radius: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.photo-icon {
  position: absolute;
  top: 10px; 
  right: 0px; 
  width: 30px;
  height: 30px; 
}


.banner-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.profile-info {
  text-align: center;
}


.profile-info p {
  margin: 5px 0;
}

.edit-profile-button {
  margin-top: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #4b6cb7;
  color: white;
  border-radius: 5px;
}

.items-header {
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

/* Items content styling */
.items-content {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}
