/* * * * * * * * * */
/*  Navigation Bar */
/* * * * * * * * * */
nav {
  background-color: white !important;
  width: 100%;
  overflow: hidden;
  /* padding: 10px 0; */
}

.nav-content {
  max-width: 1200px; /* Prevents overflow */
  margin: 0 auto; /* Centers the nav */
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

/* * * * * * * * * */
/*   Quick Links   */
/* * * * * * * * * */
nav .quick-links {
  text-decoration: none;
}

.quick-links .link {
  margin: 8px 4px;
}

.quick-links .link a {
  font-size: 12px;
  text-decoration: none;
  color: var(--clr-secondary);
  padding: 2px 4px;
  background-color: var(--clr-muted);
  border-radius: 4px;
}

/* * * * * * * * * */
/*   Logo          */
/* * * * * * * * * */

nav .nav-logo {
  height: auto;
  width: auto;
  display: flex;
  align-items: center;
  /* background-color: aqua; */
}
.nav-logo img {
  height: 36px;
  width: auto;
}

/* * * * * * * * * */
/*  Toolbar: Search, personal links  */
/* * * * * * * * * */
.nav-toolbar {
  width: 100%;
  flex-wrap: nowrap;
}

.nav-toolbar .items {
  display: flex;
  justify-content: space-between;
}

.items .nav-searchbar {
  flex: 1;
}

.nav-icons {
  display: flex;
  align-items: center;
}





.custom-nav-underline .nav-link {
  color: var(--clr-secondary);
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease, background 0.3s ease;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 15px;
  border-radius: 8px;
}

.custom-nav-underline .nav-link.active {
  background: var(--clr-primary-muted);
  color: var(--clr-primary);
}
.custom-nav-underline .nav-link.active:hover {
  background: var(--clr-primary-muted);
  color: var(--clr-primary);
}

.custom-nav-underline .nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -10px;
  height: 5px;
  background: var(--clr-primary);
}
