/* * * * * * * * * */
/*  Navigation Bar */
/* * * * * * * * * */
nav {
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white !important;
}

.nav-content {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

.nav-logo {
  flex: 1;
}

.custom-nav-underline {
  flex: 3;
  display: flex;
  justify-content: center;
  list-style: none;
  padding: 0;
  margin: 0;
}

.custom-nav-underline .nav-link {
  color: var(--clr-secondary);
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}
/* 
.custom-nav-underline .nav-link:not(.active) {
  border-radius: 10px;
  width: 100%;
} */

.custom-nav-underline .nav-link.active {
  background: var(--clr-main);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
}

.custom-nav-underline .nav-link.active::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  bottom: -8px;
  height: 5px;
  background: var(--clr-main);
  border-radius: 0;
}

.nav-item {
  display: flex;
  align-items: center;
  padding: 5px 0px;
  text-decoration: none;
  color: #333;
  transition: background 0.3s;margin: 0 5px;
}

.nav-item:hover {
  background-color: #f9f9f9;
}

/* .nav-link {
  padding: 0 10px;
} */

.nav-link > i {
  display: none;
}


/* Medium Devices */
@media (max-width: 992px) {
  .nav-content {
    flex-direction: row;
    align-items: center;
  }

  .nav-logo,
  .custom-nav-underline,
  .nav-icons {
    flex: none;
  }

  .nav-language {
    margin-left: 0;
  }
  .nav-language > img {
    width: 40px;
    height: 40px;
  }

  .nav-item {
    margin: 0 5px;
  }

  .nav-link {
    padding: 0 10px;
  }
}

/* Small Devices */
@media (max-width: 768px) {
  .nav-item {
    margin: 0 3px;
  }

  .nav-link {
    padding: 0 5px;
  }

  .nav-link > i {
    display: flex;
    font-size: 20px;
  }
  .nav-link > span {
    display: none;
  }

  .custom-nav-underline .nav-link.active::after {
    bottom: -15px;
  }
}

.nav-item.user-menu {
  position: relative;
}