/* * * * * * * * * */
/*    Subheader    */
/* * * * * * * * * */
.sub-header {
}

.feature-features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: baseline;
  gap: 10px;
  padding: 10px;
}

.feature {
  flex: 1;
  background: var(--clr-light);
  border-radius: 8px;
  padding: 10px;
  margin: 10px;
  text-align: left;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s, box-shadow 0.2s;
  display: flex;
  gap: 8px;
  min-height: 210px;
}

.feature:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.2);
}

.icon-container {
  font-size: 2rem;
  margin-bottom: 10px;
}

.feature-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--clr-dark);
  margin-bottom: 10px;
}

.feature-description {
  font-size: 1rem;
  color: var(--clr-grey);
}

/* Responsive Design */

/* Medium Devices */
@media (max-width: 992px) {
  .feature {
    flex: 1 1 calc(50% - 20px);
    min-height: auto;
  }
}

/* Small Devices */
@media (max-width: 768px) {
  .feature {
    flex: 1 1 100%;
    min-height: auto;
  }
}


/* Default hidden state */
.feature {
  opacity: 0;
  transform: translateY(30px); /* Slide-in effect */
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

/* Active state when visible */
.feature.active {
  opacity: 1;
  transform: translateY(0);
}

/* Add staggered animation */
.feature:nth-child(1) {
  transition-delay: 0.2s;
}
.feature:nth-child(2) {
  transition-delay: 0.4s;
}
.feature:nth-child(3) {
  transition-delay: 0.6s;
}
.feature:nth-child(4) {
  transition-delay: 0.8s;
}
